Q1: Compute the following expression for a natural number n

In [1]:
n = int(input("Give a natural number"))
i=0
sum=0
j=1
prod = 1
while(i<n):
    sum = sum+i
    i=i+2
print(sum)
while(j<n):
    prod = prod * j
    j = j + 2
print(prod)

Give a natural number5
6
3

Q2: Write a program that reads the number of the day of the week (from 0 to 6)

In [2]:
n = int(input("Give a number between 0 and 6 "))
if(n==5 or n==6):
    print("Weekend")
elif n == 0:
    print("Monday")
elif n == 1:
    print("Tuesday")
elif n == 2:
    print("Wednesday")
elif n == 3:
    print("Thursday")
elif n == 4:
    print("Friday")

Give a number between 0 and 6 5
Weekend

Q3: Make a program that, given a month number(0 to 11).

In [10]:
n = int(input("Give a number between 0 and 11 "))
if n==1:
    print("28 days")
elif n==6:
    print("31 days")
elif n<6 and n%2==0:
    print("31 days")
elif n>6 and n%2==1:
    print("31 days")
else:
    print("30 days")

Give a number between 0 and 11 7
31 days

Q4: Write a name 3 times

In [2]:
#------1version-------
for i in range(0,3):
    print("Abel")
#-----2version-------
i=0
while i<3:
    print("Abel.")
    i=i+1

Abel
Abel
Abel
Abel.
Abel.
Abel.

Q5: The first 15 terms of Fibonacci sequence

In [4]:
a0=1
a1=1
i=1
tmp=0
print(a0,"\n",a1)
while i<=13:
    print(a0+a1)
    tmp=a0+a1
    a0=a1
    a1=tmp
    i=i+1

1
 1
2
3
5
8
13
21
34
55
89
144
233
377
610

Q6: The first 30 terms of the sequence

In [7]:
x0 = 1
x1 = 2
i=1
tmp=0
print(x0,"\n",x1)
while i<=28:
    print((0.5)*x1+2*x0)
    tmp=(0.5)*x1+2*x0
    x0=x1
    x1=tmp
    i=i+1

1
 2
3.0
5.5
8.75
15.375
25.1875
43.34375
72.046875
122.7109375
205.44921875
348.146484375
584.9716796875
988.77880859375
1664.332763671875
2809.7239990234375
4733.527526855469
7986.211761474609
13460.160934448242
22702.50399017334
38271.573863983154
64540.79491233826
108813.54518413544
183488.36241674423
309371.271576643
521662.36062180996
879573.723464191
1483111.5829757154
2500703.2384162396
4216574.785159551

Q7: Code to determine if a year is a leap year

In [6]:
input_year = int(input("Enter the Year to be checked: "))
if (input_year%400 == 0):
          print("%d is a Leap Year" %input_year)
elif (input_year%100 == 0):
          print("%d is Not the Leap Year" %input_year)
elif (input_year%4 == 0):
          print("%d is a Leap Year" %input_year)
else:
          print("%d is Not the Leap Year" %input_year)

Enter the Year to be checked: 2022
2022 is Not the Leap Year

Q8-a:Sum of the square of the first n natural number

In [11]:
#-----------1version--------------
n = int(input("Give a natural number"))
sum1=0
for i in range(0, n):
    sum1 = sum1 + i*i
print(sum1)
#------------2version--------------
i=0
sum2=0
while i<n:
    sum2 = sum2 + i*i
    i=i+1
print(sum2)

Give a natural number5
30
30

Q8-b: The smalles natural number

In [16]:
M = int(input("Give a number "))
#------------1version----------
sum1=0
n=0
for i in range(0, M):
    sum1 = sum1 + i*i
    if sum1>=M:
        n=i
        break
print("n = ", n)
#---------2version--------------
i=0
sum2=0
n2=0
while i<M:
    sum2 = sum2 + i*i
    if sum2>=M:
        n2=i
        break
    i=i+1
print("n = ",n2)

Give a number 6
n =  3
n =  3

Q9-a: All the divisors of a given natural number

In [18]:
n = int(input("Give a natural number "))
i=1
print("the divisors are :")
while i<=n:
    if n%i==0:
        print(i)
    i = i+1

Give a natural number 10
the divisors are :
1
2
5
10

Q9-b: prime factors of a given number

In [24]:
n = int(input("Give a natural number "))
prime=[]
i=1
j=0
while i <= n:
    if n%i==0:
        prime.append(i)
    i=i+1
print(prime[0], len(prime)-1)
for i in range(1, len(prime)-1):
    for j in range(i+1, len(prime)-1):
        if prime[j]%prime[i]==0:
            prime.pop(j)
            j=i+1
print(prime)

Give a natural number 12
1 5
[1, 2, 3, 6]