<a href="https://colab.research.google.com/github/abel2319/Solution_TP_In2Py/blob/main/In2Py_TP_01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>


### <center> <b> <span style="color:blue;"> Travaux Pratiques: Variables, Types & Opérations </span> </b></center>

**Exercise 00:**  
>

  
> 1. Déclarez une variable `prenom` et attribuez-lui une valeur.
  > 2. Déclarez une variable `nom` et attribuez-lui une valeur.
  > 3. Déclarez une variable `prenom_nom` et attribuez-lui une valeur.
  > 4. Déclarez une variable `pays` et attribuez-lui une valeur.
  > 5. Déclarez une variable `ville` et attribuez-lui une valeur.
  > 6. Déclarez une variable `age` et attribuez-lui une valeur.
  > 7. Déclarez une variable `annee` et attribuez-lui une valeur.
  > 8. Déclarez une variable `est_marie` et attribuez-lui une valeur.
  > 9. Déclarez une variable `est_vrai` et attribuez-lui une valeur.

> Pour chacune des variables ci-dessus, affichez la valeur qu'elle contient à l'aide de la fonction `print()`.

In [2]:

prenom = "abel"
nom = "Merino"
prenom_nom = "Abel_merino"
pays = "Benin"
ville = "ville"
age = 30
annee = 2022
est_marie = "Oui"
est_vrai = True
print(prenom,"\n",nom,"\n",prenom_nom,"\n",pays,"\n",ville,"\n",age,"\n",annee,"\n",est_marie,"\n",est_vrai)

abel
 Merino
 Abel_merino
 Benin
 ville
 30
 2022
 Oui
 True

**Exercise 01:** 
> Vérifiez le type de données de toutes vos variables à l'aide de la fonction intégrée `type()`.**

In [7]:
print(type(prenom))
print(type(nom))
print(type(prenom_nom))
print(type(ville))
print(type(age))
print(type (annee))
print(type(est_marie))
print(type(est_vrai))
# Décommenter pour avoir le type

<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'int'>
<class 'int'>
<class 'str'>
<class 'bool'>

**Exercise 02:** 
> Calculez la valeur de $y$ ($y = x^2 + 6x + 9$). Essayez d'utiliser différentes valeurs de $x$ et déterminez à quelle valeur de $x$ $y$ sera égal à 0.**

In [10]:
x=0
y = x*x + 6*x + 9
print(y);
x=5
y = x*x + 6*x + 9
print(y);
x=-3
y = x*x + 6*x + 9
print(y);

9
64
0

**Exercise 03:** 
>    

     1. Déclarez votre âge sous forme de variable entière
     2. Déclarez votre taille en tant que variable flottante
     3. Déclarez une variable qui stocke la base et la hauteur d'un triangle. Calculez l'aire de ce triangle (aire = 0,5 x b x h).

In [12]:
age = 0
taille = 0.0
b = 2.3
h=5.2
print("l'air du triangle est ", 0.5*b*h)

l'air du triangle est  5.9799999999999995

## *Astuce : recevoir les entrées de l'utilisateur *
**Pour recevoir une entrée de l'utilisateur, nous utilisons `input()`.**.

**Exemple**
Recevez deux nombres en entrée de l'utilisateur et calculez leur puissance :
```python
base = input("Entrez une base : ")
exposant = input("Entrez un exposant : ")
resultat = float(base) ** float(exposant)
print(f "{base} à la puissance {exposant} = {résultat}")
```

**Exercise 04:** 
> **Write a small code that asks the user to enter the side $a$, the side $b$ and the side $c$ of a triangle. Calculate the perimeter of the triangle (perimeter = a + b + c).**

In [3]:
a = input("First number a  =")
b = input("Second number b  =")
c = input("Third number c  =")
print("a + b + c = ",float(a)+float(b)+float(c))

First number a  =4.2
Second number b  =5.5
Third number c  =6.3
a + b + c =  16.0

**Exercise 05:** 
> **Obtenez la longueur et la largeur d'un rectangle à l'aide de l'invite. Calculer sa `superficie` et son `perimetre`.**

In [5]:
L = input("Longueur = ")
l = input("largeur  = ")
print("La superficie est ",float(l)*float(L)," le perimetre est ", (float(l)+float(L))*2)

Longueur = 4.2
largeur  = 5.5
La superficie est  23.1  le perimetre est  19.4

**Exercice 06:** 
> **Obtenez le rayon d'un cercle en utilisant l'invite. Calculez l'aire (aire = pi x r x r) et la circonférence (c = 2 x pi x r) où pi = 3,14.**

In [7]:
r = float(input("Le rayon = "))
pi=3.14
print("La superficie est ",r*r*pi," le perimetre est ", 2*pi*r)

Le rayon = 2.2
La superficie est  15.197600000000003  le perimetre est  13.816000000000003

**Exercice 07:**
> **Calculez la pente, l'ordonnée à l'origine en x et l'ordonnée à l'origine en $y$ de $y = 2x -2$.**

In [11]:
pente = ((2*1-2)-(2*0-1))/(1-0)
print("L'ordonnee a l'origine est y=",2*0-2," et la pente est ", pente)

L'ordonnee a l'origine est y= -2  et la pente est  1.0

**Exercice 08:** 
> **Rédigez un script qui demande à l'utilisateur d'entrer les heures et le taux horaire. Calculez la rémunération de la personne ?**

In [8]:
H = float(input("Entrez l'heure "))
t = float(input("Le taux horaire "))
print("Votre remuneration est ", H*t)

Entrez l'heure 15
Le taux horaire 10000
Votre remuneration est  150000.0

**Exercice 09:** 
> **Écrivez un script qui demande à l'utilisateur d'entrer le nombre d'années. Calculez le nombre de secondes qu'une personne peut vivre. Supposons qu'une personne puisse vivre cent ans.**

In [10]:
year = int(input("Number of years = "))
print("You are already lived ", year*60*60*24*365," seconde")

Number of years = 10
You are already lived  315360000 s seconde

**Exercice 10:** 
> **Écrivez un script Python qui affiche le tableau suivant**

    1 1 1 1 1
    
    2 1 2 4 8
    
    3 1 3 9 27
    
    4 1 4 16 64
    
    5 1 5 25 125

In [19]:
print("1 1 1 1 1\n\n2 1 2 4 8\n\n3 1 3 9 27\n\n4 1 4 16 64\n\n5 1 5 25 125")

1 1 1 1 1

2 1 2 4 8

3 1 3 9 27

4 1 4 16 64

5 1 5 25 125

**Exercise 11:** 
>**Attribuez aux variables `temps` et `distance` les valeurs $6.892$ et $19.7$. Calculer et afficher la valeur de la vitesse. Améliorer l'affichage en imposant un chiffre après la virgule.**

In [17]:
temps = 6.892
distance = 19.7
v = distance/temps
print("La vitesse est ", v)
print("Vitesse un chiffre apres la virgule ", str(v)[:3])

La vitesse est  2.8583865351131745
Vitesse un chiffre apres la virgule  2.8

**Exercice 12:** 
> **Écrire un programme qui, à partir de la saisie d’un rayon et d’une hauteur, calcule levolume d’un cône droit.**

In [20]:
r = float(input("rayon :"))
h = float(input("hauteur : "))
print("La hauteur du cone ", (1/3)*r*h)

rayon :5.2
hauteur : 3.3
La hauteur du cone  5.72

**Exercise 13:** 
> **L'utilisateur donne un entier positif et le programme annonce combien de fois de suite cet entier est divisible par 2.**

**Exercise 14:** 
>**L'utilisateur donne un nombre entier entre 2 et 12, le programme donne le nombre de façons de le faire en lançant deux dés.**

**Exercice 15:** 
> **Utilisez la fonction d'entrée intégrée `input()` pour obtenir le `_prénom_`, le `_nom_`, le `_pays_d_origine` et l'`_age_` d'un utilisateur et stockez la valeur dans les noms des variables correspondantes.**

In [ ]:
_prénom_ = input("Veuillez saisir votre prénom : ")
_nom_ = input("Veuillez saisir votre prénom : ")
_pays_d_origine_ = input("Veuillez saisir votre pays d'origine :")
_age_ = int(input("Veuillez saisir votre age : "))

**Exercice 16:** 

**Déclarer $5$ comme `num_one` et $4$ comme `num_two`**

   1. Additionner `num_one` et `num_two` et affecter la valeur à une variable `totale`.
   2. Soustraire `num_two` de `num_one` et affecter la valeur à une variable `diff`.
   3. Multipliez le `num_one` et le `num_two` et attribuez la valeur à une variable `produit`.
   4. Divisez le `num_one` par le `num_two` et attribuez la valeur à une variable `division`.
   5. Calculez `num_one` à la puissance de `num_two` et attribuez la valeur à une variable `exp`.

In [ ]:
num_one = 5
num_two = 4
totale = num_one + num_two
diff = num_one - num_two
produit = num_one * num_two
division = num_one / num_two
exp = num_one*num_one*num_one*num_one

<center> <b> <span style="color:orange;"> 🎉 FÉLICITATIONS! 🎉 </span> </b></center>